.panel{ background-color: #f6f1e6;
        padding-top:50px;}

.navbar-brand{ font-family: 'pacifico', cursive;
               font-size: 2.5rem;
               color:#faf3ea;
            }

a:hover{ color:white;}

.navbar-nav .nav-link{
padding: 0.5rem 0.5rem;
font-size: 1.3rem;
}

.navbar-nav .nav-link:hover
{
  border-top: 2px solid #bdbdbd;
}
.navbar-nav .nav-link.active
{
  border-top: 2px solid #bdbdbd;
  color: #bdbdbd;
}
