<div *ngIf="selectedIdLocation==0" class="container">
  <h1>Lagerort</h1>
  <hr>
  <body class="card-group ">
  <div class="card-group ">
    <div class="card text-white bg-dark mb-3 shadow-lg rounded">
      <img src="https://icon-library.com/images/add-2935429_960_720_695.png" class="card-img-top" alt="..."width="350" height="280">
      <div class="card-body">
        <h5 class="card-title">add storage location</h5>
      </div>
    </div>
  </div>
  <div class="card-group {{i+1}}" *ngFor="let location of locations; let i=index; trackBy: trackByData">
    <div class="card text-white bg-dark mb-3 shadow-lg rounded">
      <img src= "{{location.picUrl}}" class="card-img-top" width="350" height="280">
      <div class="card-body">
        <h5 class="card-title">{{location.location}}</h5>
        <p class="card-text">{{location.description}}</p>
        <p> <i-bs
                  name="pencil-square"
                  class="text-secondary"
                  width="2em"
                  height="2em">
        </i-bs>
          <a><i-bs
            name="trash"
            class="text-secondary"
            width="2em"
            height="2em">
          </i-bs></a></p>
      </div>
    </div>
  </div>
  </body>
</div>
