<h1>Lagerort</h1>
<div class="card-group ">
  <div class="card text-white bg-secondary mb-3 shadow-lg rounded">
    <img src="https://media.istockphoto.com/photos/rows-of-shelves-picture-id1138429558?k=6&m=1138429558&s=612x612&w=0&h=Vp_3KUoOalc0R1VYZwqbZK1g-hsiyg501J_RwJa6kA4=" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Trockenlager</h5>
      <p class="card-text"> text</p>
      <p class="card-text"><small class="text-muted">Temperatur: 10°C</small></p>
    </div>
  </div>
  <div class="card  text-white bg-secondary mb-3 shadow-lg rounded">
    <img src="https://cms.delta-temp.com/ckfinder/userfiles/images/News/Preview/Vorschau-Grafik-Lebensmittel-Kuehlen.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Kühlhaus I</h5>
      <p class="card-text">Lagerung von Frischeprodukten. Produkte mit einem kurzen MHD.</p>
      <p class="card-text"><small class="text-muted">Temperatur: 2°C</small></p>
    </div>
  </div>
  <div class="card text-white bg-secondary mb-3 shadow-lg rounded">
    <img src="https://cms.delta-temp.com/ckfinder/userfiles/images/News/Preview/Vorschau_Kuehlung-Pharma.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Kühlhaus II</h5>
      <p class="card-text">Lagerung von Nicht-Frischeprodukten. Produkte mit einem längeren MHD.</p>
      <p class="card-text"><small class="text-muted">Temperatur: 2°C</small></p>
    </div>
  </div>
</div>
<div class="card-group">
  <div class="card  text-white bg-secondary mb-3 shadow-lg rounded">
    <img src="https://www.viastore.com/systems/sites/systems/files/styles/16_9_lg/public/2020-04/2020-frozen-storage_warehouse-apply-label-outgoing-goods-viastore-americold-1.jpg?h=99e37000&itok=w3vjQarj" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Tiefkühllager</h5>
      <p class="card-text">Lagerung von allen Tiefkühlprodukten</p>
      <p class="card-text"><small class="text-muted">Temperatur: -20°C</small></p>
    </div>
  </div>
  <div class="card text-white bg-secondary mb-3 shadow-lg rounded">
    <img src="https://media.istockphoto.com/photos/rows-of-shelves-picture-id1138429558?k=6&m=1138429558&s=612x612&w=0&h=Vp_3KUoOalc0R1VYZwqbZK1g-hsiyg501J_RwJa6kA4=" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Frischelager</h5>
      <p class="card-text">Lagerung Obst & Gemüse</p>
      <p class="card-text"><small class="text-muted">Temperatur: 5°C</small></p>
    </div>
  </div>
  <div class="card  text-white bg-secondary mb-3 shadow-lg rounded">
    <img src="https://media.istockphoto.com/photos/rows-of-shelves-picture-id1138429558?k=6&m=1138429558&s=612x612&w=0&h=Vp_3KUoOalc0R1VYZwqbZK1g-hsiyg501J_RwJa6kA4=" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Drogerielager & Non Food</h5>
      <p class="card-text">Lagerung von Hygieneartikeln und Reinigungsmitteln</p>
      <p class="card-text"><small class="text-muted">Temperatur: 25°C</small></p>
    </div>
  </div>
</div>
