<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="form-group row">
      <label for="staticId" class="col-sm-2 col-form-label">id</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" formControlName="idControl" id="staticId" readonly>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputAB" class="col-sm-2 col-form-label">Artikelbezeichnung</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="articleDescriptionControl" id="inputAB">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputHN" class="col-sm-2 col-form-label">Herstellername</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="producerNameControl" id="inputHN">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputEin" class="col-sm-2 col-form-label">Einheit</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="unitControl" id="inputEin">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputKategorie" class="col-sm-2 col-form-label">Kategorie</label>
      <div class="col-sm-10">
        <select formControlName="categoryControl" class="form-control"  id="inputKategorie">
          <option disabled>select categorie</option>
          <option>choose categorie</option>
          <option *ngFor="let category of categories" value="{{category.id}}" > {{category.category}} </option>
        </select>
        <!--<div *ngIf="f.inputKategorie.touched && f.inputKategorie.invalid" class="alert alert-danger">
          <div *ngIf="f.inputKategorie.errors.required">Name is required. </div>
        </div>-->
      </div>
    </div>

    <div class="form-group row">
      <label for="inputStueck" class="col-sm-2 col-form-label">Stueckzahl</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="itemsControl" id="inputStueck">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputLagerort" class="col-sm-2 col-form-label">Lagerort</label>
      <div class="col-sm-10">
        <select formControlName="locationControl" class="form-control" id="inputLagerort">
          <option disabled>select storage location</option>
          <option>choose storage location</option>
          <option *ngFor="let location of locations" value="{{location.id}}">{{location.location}} </option>
        </select>
        <!--<div *ngIf="f.inputLagerort.touched && f.inputLagerort.invalid" class="alert alert-danger">
          <div *ngIf="f.inputLagerort.errors.required">Name is required. </div>
        </div>-->
      </div>
    </div>

    <div class="form-group row">
      <label for="inputDate" class="col-sm-2 col-form-label">Kaufdatum</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Select Date" formControlName="purchaseDateControl" id="inputDate">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputVerfall" class="col-sm-2 col-form-label">Verfallsdatum</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Select Date" formControlName="expirationDateControl" id="inputVerfall">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputEP" class="col-sm-2 col-form-label">Einkaufspreis [netto]</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="purchasingPrice_netControl" id="inputEP">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-6">
        <button type="submit" class="btn btn-primary btn-block" [disabled]="!form.valid">Create</button>
      </div>
      <div class="col-sm-6">
        <button type="cancel" class="btn btn-secondary btn-block"(click)="cancel()">Cancel</button>
      </div>
    </div>
  </form>
</div>
