h1,h4{
  text-align:center;
  margin-top:6px;

}

body{ background-color: #f6f1e6;}

img{
  cursor: pointer;
  background-color: #f6f1e6;
  border-color: #f6dfab;
}

div.card-group{
  width: 33.33%;
}

#cancel{  margin-top:6px;
      padding-left : 15px;
      }
