<body>
  <div *ngIf="selectedIdLocation==0" class="container">
    <h1>Lagerort</h1>
    <hr>
    <body class="card-group ">
    <div class="card-group ">
      <div class="card text-white bg-dark mb-3 shadow-lg rounded">
        <img [routerLink]="['/user/createLocation']" src="https://icon-library.com/images/add-2935429_960_720_695.png" class="card-img-top" alt="..."width="350" height="280">
        <div class="card-body">
          <h5 class="card-title">add storage location</h5>
        </div>
      </div>
    </div>
    <div class="card-group {{i+1}}" *ngFor="let location of locations; let i=index; trackBy: trackByData">
      <div class="card text-white bg-dark mb-3 shadow-lg rounded">
        <img [routerLink]="['/user/articles/filteredLocation/',location.id]" src= "{{location.picUrl}}" class="card-img-top" width="350" height="280">
        <div class="card-body">
          <h5 class="card-title">{{location.location}}</h5>
          <p class="card-text">{{location.description}}</p>
          <p> <i-bs
            [routerLink]="['/user/location/',location.id]"
            name="pencil-square"
            class="text-secondary"
            width="2em"
            height="2em">
          </i-bs>
            <a><i-bs
              name="trash"
              class="text-secondary"
              width="2em"
              height="2em"
            (click)="open(content,location.id)">
            </i-bs></a></p>
        </div>
      </div>
    </div>
    </body>
  </div>

  <div *ngIf="selectedIdLocation>0" class="container">
    <div *ngIf="error">
      <p>{{error?.message}}</p>
      <p>{{error?.status}}</p>
    </div>
    <div *ngIf="location">
      <app-update-location [storageLocation]="location"  (updateEvent)="update($event)"></app-update-location>
    </div>
  </div>

  <!--delete-->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 style="color: white">Do you want to delete this location?</h4>

      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cancel')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="form">
        <div class="form-group">
          <label for="inpOrt">Lagerort</label>
          <div class="input-group">
            <input id="inpOrt" class="form-control" formControlName="locationControl" value="{{ location?.location }}" readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="inpDesc">Beschreibung</label>
          <div class="input-group">
            <input id="inpDesc" class="form-control" formControlName="descriptionControl" value="{{ location?.description }}" readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="inpUrl">Bild-Url</label>
          <div class="input-group">
            <textarea rows="4" id="inpUrl" class="form-control" formControlName="urlControl" value="{{ location?.picUrl }}" readonly></textarea>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info" (click)="modal.close('cancel')">Cancel</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('delete')">Delete</button>
    </div>
  </ng-template>
</body>
