<body>
  <div *ngIf="selectedCategoryId==0" class="container">
    <h1>Kategorien</h1>
    <hr>
    <body class="card-group ">
    <div class="card-group ">
      <div class="card text-white bg-dark mb-3 shadow-lg rounded">
        <img [routerLink]="['/user/createCategory']" src=" https://icon-library.com/images/add-2935429_960_720_695.png" class="card-img-top" alt="..." width="350" height="280">
        <div class="card-body">
          <h5 class="card-title">add Category</h5>
        </div>
      </div>
    </div>
    <div class="card-group {{i+1}}" *ngFor="let category of categories; let i=index; trackBy: trackByData">
      <div class="card text-white bg-dark mb-3 shadow-lg rounded">
        <img [routerLink]="['/user/articles/filteredCategory/',category.id]" src= "{{category.picUrl}}" class="card-img-top" width="350" height="280">
        <div class="card-body">
          <h5 class="card-title">{{category.category}}</h5>
          <p class="card-text">{{category.description}}</p>
          <p><i-bs [routerLink]="['/user/category/',category.id]"
                   name="pencil-square"
                   class="text-secondary"
                   width="2em"
                   height="2em">
          </i-bs>
            <i-bs
              name="trash"
              class="text-secondary"
              width="2em"
              height="2em"
            (click)="open(content,category.id)">
            </i-bs></p>
        </div>
      </div>
    </div>
    </body>
  </div>

  <!--UPDATE CATEGORY -->
  <div *ngIf="selectedCategoryId>0" class="container">
    <div *ngIf="error">
      <p>{{error?.message}}</p>
      <p>{{error?.status}}</p>
    </div>
    <div *ngIf="category">
      <app-update-category [category] ="category" (updateEvent)="update($event)"></app-update-category>
    </div>
  </div>

  <!--delete category-->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 style="color: red">Do you want to delete this category?</h4>

      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cancel')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="form">
        <div class="form-group">
          <label for="inpCategory">Kategorie</label>
          <div class="input-group">
            <input id="inpCategory" class="form-control" formControlName="categoryControl" value="{{ category?.category }}" readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="inpDesc">Beschreibung</label>
          <div class="input-group">
            <input id="inpDesc" class="form-control" formControlName="descriptionControl" value="{{ category?.description }}" readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="inpUrl">Bild-URL</label>
          <div class="input-group">
            <textarea id="inpUrl" class="form-control" formControlName="urlControl" value="{{ category?.picUrl }}" readonly></textarea>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close('cancel')">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="modal.close('delete')">Delete</button>
    </div>
  </ng-template>
</body>
