h4,h1{
  text-align:center;
  margin-top:6px;
}
#cancel{
padding-left:200px;
}
body{ background-color: #f6f1e6;}

img{
  cursor: pointer;
  background-color: #f6f1e6;
  border-color: #f6dfab;
}

div.card-group{
  width: 33.33%;
}


.modal-header{
  background:#4f4f4d;
}
.modal-body ,.modal-footer{ background:#eae9e7;}

