 h1 { text-align: center;
          color :#faf6ea;
         font-family: 'Angular', arial;
         font-size: 90px;
         text-shadow: 6px 6px 6px Black;
         color-shadow: black;
         margin-bottom: 250px;
        }

#card1 { background-color:#faf3ea; }
#carouselID{
 height:100%;}
 img{
  width:100%;
  opacity: 0.7;
 }

