
<ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators" >
  <ng-template ngbSlide *ngFor="let image of images">
    <div class="picsum-img-wrapper" >
      <img [src]="image" alt="Random slide"id="carouselID">
    </div>
    <div class="carousel-caption">
      <h1>Willkommen!</h1>
      <h2> Auf Tante Emmas innovative Produktseite kannst du</h2>
      <h2 id="schrift"> Effizient und schneller arbeiten</h2>
    </div>
  </ng-template>
</ngb-carousel>


