<body class="table-scrollable">

<div *ngIf="selectedArticleId==0 || selectedCategoryId!=0 || selectedLocationId!=0" class="container">
  <button type="button" class="btn btn-success" [routerLink]="['/user/createArticle']">add new Article</button>
  <table class="table table-condensed table-hover">
    <caption>List of Articles</caption>
    <thead>
    <tr>
      <th>Edit</th>
      <th>Delete</th>
      <th>Nr.</th>
      <th>Artikelbezeichnung</th>
      <th>Herstellername</th>
      <th>Einheit</th>
      <th>Stueckzahl</th>
      <th>Kategorie</th>
      <th>Lagerort</th>
      <th>Kaufdatum</th>
      <th>Verfallsdatum</th>
      <th>Netto_Einkaufspreis</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let article of articles; let i=index; trackBy: trackByData">
      <td><a>
        <i-bs [routerLink]="['/user/article/',article.id]"
          name="pencil-square"
          class="text-secondary"
          width="1em"
          height="1em">
        </i-bs>
      </a></td>

      <td><i-bs
        name="trash"
        class="text-secondary"
        width="1em"
        height="1em"
      (click)="open(content,article.id)">
      </i-bs></td>

      <td>{{ article.id }}</td>
      <td>{{article.articleDescription}}</td>
      <td>{{article.producerName}}</td>
      <td>{{article.unit}}</td>
      <td>{{article.items}}</td>
      <td>{{article.category}}</td>
      <td>{{article.location}}</td>
      <td>{{article.purchaseDate | date: 'longDate'}}</td>
      <td>{{article.expirationDate | date: 'longDate'}}</td>
      <td>{{article.purchasingPrice_net}}</td>
    </tr>
    </tbody>
  </table>
</div>

<!-- UPDATE Form Article-->
<div *ngIf="selectedArticleId>0" class="container">
  <div *ngIf="error">
    <p>{{error?.message}}</p>
    <p>{{error?.status}}</p>
  </div>
  <div *ngIf="article">
    <app-update-article [article]="article" (updateEvent)="update($event)"></app-update-article>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 style="color: red"> <b>Do you really want to delete this data set?</b></h4>

  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="form-group">
        <label for="inpId">id</label>
        <div class="input-group">
          <input id="inpId" class="form-control" formControlName="idControl" value="{{ article?.id }}" readonly>
        </div>
      </div>
      <div class="form-group">
        <label for="inpAB">artikelbezeichnung</label>
        <div class="input-group">
          <input id="inpAB" class="form-control" formControlName="articleDescriptionControl" value="{{ article?.articleDescription }}" readonly>
        </div>
      </div>
      <div class="form-group">
        <label for="inpHN">herstellername</label>
        <div class="input-group">
          <input id="inpHN" class="form-control" formControlName="producerNameControl" value="{{ article?.producerName }}" readonly>
        </div>
      </div>

      <div class="form-group">
        <label for="inpEin">einheit</label>
        <div class="input-group">
          <input id="inpEin" class="form-control" formControlName="unitControl" value="{{ article?.unit }}" readonly>
        </div>
      </div>

      <div class="form-group">
        <label for="inpStueck">stueckzahl</label>
        <div class="input-group">
          <input id="inpStueck" class="form-control" formControlName="itemsControl" value="{{ article?.items }}" readonly>
        </div>
      </div>

      <div class="form-group">
        <label for="inpKate">kategorie</label>
        <div class="input-group">
          <input id="inpKate" class="form-control" formControlName="categoryControl" value="{{ articleCombi?.categoryName }}" readonly>
        </div>
      </div>

      <div class="form-group">
        <label for="inpKaufdatum">Kaufdatum</label>
        <div class="input-group">
          <input id="inpKaufdatum" class="form-control" formControlName="purchaseDateControl" value="{{ article?.purchaseDate |date: 'longDate' }}" readonly>
        </div>
      </div>

      <div class="form-group">
        <label for="inpLagerort">lagerort</label>
        <div class="input-group">
          <input id="inpLagerort" class="form-control" formControlName="locationControl" value="{{ articleCombi?.locationName }}" readonly>
        </div>
      </div>

      <div class="form-group">
        <label for="inpVerfallsdatum">Verfallsdatum</label>
        <div class="input-group">
          <input id="inpVerfallsdatum" class="form-control" formControlName="expirationDateControl" value="{{ article?.expirationDate | date: 'longDate' }}" readonly>
        </div>
      </div>

      <div class="form-group">
        <label for="inpPreis">netto_einkaufspreis</label>
        <div class="input-group">
          <input id="inpPreis" class="form-control" formControlName="purchasingPrice_netControl" value="{{ article?.purchasingPrice_net }}" readonly>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('cancel')">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="modal.close('delete')">Delete</button>
  </div>
</ng-template>
</body>
