<p style="font-weight: bold">Über uns</p>
<p>Wir sind Mimi und Svenja.</p>
<p>Unser Tante-Emma-Laden ist ein kleines Einzelhandelsgeschäft, das Lebensmittel und weitere Artikel des täglichen Bedarfs anbietet.</p>
<p>Unsere, mit Liebe entwickelte Website, dient dabei als Artikeldatenbank.
   Hier werden alle angelieferten Artikel mit verschiedenen Daten wie Kaufpreis, Stückzahl oder Verfallsdatum erfasst und eingetragen.</p>
<p>Damit die Userin auch später noch weiß, wo sie diesen Artikel gelagert hat, kann sie nachschauen, in welchem Lagerraum er sich befindet,
   in dem sie eine der Lagerraumkarten anklickt und die Artikel danach filtert. Das gleiche kann sie selbstverständlich auch mit der Artikelkategorie machen.</p>
<p>Sie kann ganz einfach neue Artikel, Kategorien oder Lagerorte hinzufügen, vorhandene bearbeiten oder löschen, indem sie auf die dazugehörigen Buttons klickt.</p>
<p>Wir wünschen der Userin viel Spaß beim Verwenden unserer Website.</p>

<p style="font-weight: bold">Anmerkung:</p>
<p>In diese Website haben wir viel Zeit und Mühen investiert und so manche Nerven dabei verloren.</p>
<p>Wir hoffen sehr, dass die Userin mit unserem Ergebnis zufrieden ist und würden uns um Feedback freuen.</p>

