
h1{
   padding-top:5px;
   text-align:center;
   color: white;
   font-family: 'pacifico', cursive;
 }
p{
  margin-left: 1rem;
}
body{ background-image:url('http://affdaalm.de/wp-content/uploads/2016/04/hintergrundBild2.jpg');
 background-size:cover;
 background-repeat: no-repeat;
  width:100%; height:150vh;
}

.div-container{
 border: 1px solid;
  border-radius: 3px 15px 5px 30px;
  margin-left:28px;
 padding: 80px  80px;
 -webkt-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
 box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
 margin-top: 5vh;
 background-color: #f6f1e6;
 width:95%;



 }
