<div class=" panel panel-primary">
  <div class="panel-body">
  </div>
</div>
<nav class=" navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/user/home">Tante-Emma</a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{'show': navbarOpen}">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/user/home">Startseite</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/user/locations">Lagerort</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/categories">Kategorien</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/articles">Sortiment</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/login">Logout <i-bs
            name="box-arrow-right"
            class="text-primary"
            width="2rem"
            height="2rem">
          </i-bs></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/about-tante-emma">Über uns</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
